
.but{
    padding:1rem;
    // width: 50%;
    border-radius: 25px;
    border: 1px solid white;
    background: transparent;
    font-weight: 600;
    font-size: 1.3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}