.invItem {
  // height: 10dvh;
  padding: 1rem;
  width: 100%;
  display: flex;
  // overflow-x: scroll;
  column-gap: 1rem;

  .subproperties {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    input[type=checkbox]{
      border: 1px solid black;
      transform: scale(1.5);
      // min-width: 2rem;
    }
    // input[type=image]{
    //   display: none;
    // }
    // input:not(:checked) ~ input[type=image]{
    //   display: none;
    // }
    .inp-container {
      legend{
        display: none;
      }
        label {
          display: none;
        }
        input{
          padding: 1rem;
        }
        image{
          padding: 0;
        }
        input{
          padding: 1rem;
        }
        input::placeholder {
          color: black;
        }
        input:hover{
          cursor: pointer;
        }
      }
    h2 {
      text-wrap: nowrap;
    }
    
  }
  .subproperties>input:checked ~ div>input[type=image]  {
    display: block;
  }
  .container-img-name {
    // padding: 1rem;
    column-gap: 1rem;
  }
  .quantity{
    .inp-container{
      .editIcon {
      padding: 0;
      margin:0.2rem;
      }
    }
   
  }
}
.invItem input {
  border: 1px solid black;
}
// .invItem input img{

// }