$left-bg-color: #f5e8dd;
$right-bg-color: white;
$profile-pic: "mypic01.jpg";
.left {
    
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: scroll;
  color: black;
  // background-color: $left-bg-color;
  background-image: url("../../../assets/leftbg.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  animation-duration: 1s;
  gap: 2rem;
  min-width: 20%;
  height: 100dvh;
  
  // border-right: 5px solid white;
  .logout{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    .logout-icon{
      scale: 1.5;
    }
  }
}
.left::-webkit-scrollbar {
  display: none;
}
.left .profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
// .left:
.profile-pic {
  border: 1px solid;
  border-radius: 100%;
  display: flex;
  place-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  text-align: center;
  background-image: url("../../../assets/profile-pic/" + $profile-pic);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.user-detail {
  padding: 0.5rem;
  width: 60%;
  font-size: larger;
  font-weight: 600;
  text-align: start;
  overflow: hidden;
  word-wrap: break-word;
  
}
.user-detail {
  font-size: 1.8rem;
  padding-left: 1.5rem;
}
#user-status {
  font-size: medium;
}
.left:focus {
  @keyframes identifier {
    0% {
      left: 100%;
    }
    25% {
      left: 75%;
    }
    50% {
      left: 50%;
    }
    75% {
      left: 25%;
    }
    100% {
      left: 0%;
    }
  }
}

.left > * {
  width: 80%;
  text-align: center;
  // border: 4px solid #ff5722;
  border: 4px solid #efe5e2bd;
  padding: 1rem;
  border-radius: 25px;
}
.second-left-element {
  border: none;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 25px;

  .menu-item {
    border: 1px solid #f0ece5;
    display: flex;
    padding: 0.2rem;
    align-items: center;
  }
  
}
.menu div {
  border-radius: 25px;
}

@media (min-width: 320px) and (max-width: 1440px){
    .left {
      display: none;
    }
}