// *{
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }
.inventory-wrapper{
    display: flex;
    height: 100dvh;
    overflow-y: scroll;

    // background-color: #f1f1f1;
    background-color: rgb(0, 0, 0);
    // filter:contrast(1);
    
    .inventory-list{
        overflow-y:scroll ;
        padding: 0 !important;
        .navbar{
            height: 10%;
        }
    }
    .inventory-card-list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        flex-direction: column ;
        overflow-y: scroll;
        
        // table{
        //     border:1px solid red;
        //     th{
        //         border:2px solid orange;
        //     }
        // }
        border: 0px;
    }
    .inventory-list::-webkit-scrollbar{
        display: none;
    }
    
}
// @view-transition {
//     navigation: auto;
//   }
// .left{
//     filter: brightness(1);
// }
// .inventory-wrapper::-webkit-scrollbar{
//     display: none;
// }
// .inventory-wrapper::-webkit-scrollbar-thumb{

// }

@media (max-width: 563px) {
    .inventory-wrapper {
        height: auto; // Adjust height for smaller screens
        overflow-y: auto; // Ensure it scrolls if content overflows

        .inventory-list {
            width: 100vw;
            .navbar{
                height: 10vh;
                width: 100%;
                // .profile-pic{
                //     display: none;
                // }
            }
            // border:1px solid white;
            // grid-row: span;
            .inventory-card-list{

                grid-template-columns: 1fr; // Change to single column layout on smaller screens
            }
            
            padding: 1rem; // Added padding for better spacing
        }
    }
}

@media (min-width:563px) and (max-width: 893px) {
    .inventory-wrapper {
        height: auto; // Adjust height for smaller screens
        overflow-y: auto; // Ensure it scrolls if content overflows

        .inventory-list {
            width: 100vw;
            // border:1px solid white;
            // grid-row: span;
            .navbar{
                height: 10vh;
                width: 100%;

                // flex-basis: 100px ;
                // .inner-mid-portion{
                //     width: 20%;
                // }
            }
            .inventory-card-list{

                grid-template-columns: repeat(2,1fr); // Change to single column layout on smaller screens
            }
            
            padding: 1rem; // Added padding for better spacing
        }
    }
}

@media (min-width: 894px) and (max-width:1151px) {
    .inventory-wrapper {
        // height: 100vh; // Adjust height for smaller screens
        overflow-y: auto; // Ensure it scrolls if content overflows

        .inventory-list {
            width: 100vw;
            // .navbar{
            //     // height: 100vh;
               
            // }
            // border:1px solid white;
            .inventory-card-list{
            grid-template-columns: repeat(3,1fr); // Change to single column layout on smaller screens
            }
            padding: 1rem; // Added padding for better spacing
        }
    }
}
@media (min-width:1401px) {
    .inventory-wrapper {
        // height: 100vh; // Adjust height for smaller screens
        overflow-y: auto; // Ensure it scrolls if content overflows

        .inventory-list {
            width: 100vw;
            // border:1px solid white;
            grid-template-columns: repeat(4,1fr); // Change to single column layout on smaller screens
            padding: 1rem; // Added padding for better spacing
        }
    }
}
